PORT=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=

REFRESH_TOKEN_SECRET=

JWKS_URI=http://localhost:5000/.well-known/jwks.json

# npm run migration:generate -- src/migrations/add_fk_tenant -d src/config/data-source.ts

# npm run migration:run -- -d src/config/data-source.ts 